@page
@{
    ViewData["Title"] = "Notfound";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}
    <div class="container text-center">
        <h1>404 - اطلاعات یافت نشد !</h1>
        <p>متاسفانه اطاعات مورد نظر شما را پیدا نکردم - شاید پاک شده باشد!</p>
        <hr />
        <a asp-page="Search" class="btn btn-secondary"> بازگشت به جستجو <span class="fa fa-backward"></span></a>
    </div>

